.ZERO {
  background-color: #ECECEC;
}

.ONE {
  background-color: #7FE9DE;
}

.TWO {
  background-color: #F8FFDB;
}

.THREE {
  background-color: #0081C9;
}

.FOUR {
  background-color: #3B3486;
}

.FIVE {
  background-color: #FF8787;
}

.SIX {
  background-color: #F0FF42;
}

.SEVEN {
  background-color: #379237;
}

.EIGHT {
  background-color: #FF6363;
}

.NINE {
  background-color: #FFAB76;
}

.TEN {
  background-color: #FFFDA2;
}

.ELEVEN {
  background-color: #BAFFB4;
}

.TWELVE {
  background-color: #CF4DCE;
}
