.player-list {
    list-style: none;
    padding: 0;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #9b9b9b;
}

.player:last-child {
    border-bottom: none;
}

.player-info {
    display: flex;
    align-items: center;
}

.player-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #ccc;
    background-size: cover;
}

.status {
    font-size: 14px;
    color: #888;
}

.ready {
    color: #1e90ff;
}

.kick {
    color: #ff4500;
    cursor: pointer;
}

.room-title {
    font-size: 24px;
    font-weight: bold;
    color: #776E65;
    text-align: center;
    margin-bottom: 20px;
}
