{{#layout}}{{#title}}2048 Play{{/title}}
{{#content}}
    <div class="timer-container">
        <span id="timer">00:00</span>
    </div>
    <div class="boards-container" id="boards"></div>
{{/content}}
{{#css}}
    <link rel="stylesheet" href="/css/game.css">
{{/css}}
{{#js}}
    <script>
        const roomId = document.location.href.split('/')[4];

        const stompClient = createStompClient((stompClient) => {
            stompClient.connect({}, () => {
                stompClient.subscribe(`/topic/rooms/${roomId}/game`, (response) => {
                    const gamers = JSON.parse(response.body);
                    putHtml('boards', createGamers(gamers));
                });
            });
        });

        const arrows = {
            "ArrowLeft": (stompClient) => stompClient.send(`/app/rooms/${roomId}/move`, {},
                    JSON.stringify({direction: 'LEFT'})),
            "ArrowRight": (stompClient) => stompClient.send(`/app/rooms/${roomId}/move`, {},
                    JSON.stringify({direction: 'RIGHT'})),
            "ArrowUp": (stompClient) => stompClient.send(`/app/rooms/${roomId}/move`, {},
                    JSON.stringify({direction: 'TOP'})),
            "ArrowDown": (stompClient) => stompClient.send(`/app/rooms/${roomId}/move`, {},
                    JSON.stringify({direction: 'DOWN'}))
        };

        (async () => {
            const response = await axios.get(`/rooms/${roomId}/games`);
            putHtml('boards', createGamers(response.data));

            document.addEventListener("keydown", (e) => {
                e.preventDefault()
                arrows[e.key](stompClient);
            });
        })();
    </script>
{{/js}}
{{/layout}}

