{{#layout}}{{#title}}2048 Play{{/title}}
{{#content}}
    <div class="timer-container">
        <span id="timer">00:00</span>
    </div>
    <div class="boards-container" id="boards"></div>
{{/content}}
{{#css}}
    <link rel="stylesheet" href="/css/game.css">
{{/css}}
{{#js}}
    <script type="text/javascript" src="/js/game.js"></script>
    <script>
        const roomId = document.location.href.split('/')[4];

        (async () => {
            const response = await axios.get(`/rooms/${roomId}/games`);
            putHtml('boards', createGamers(response.data));

            document.addEventListener("keydown", (e) => {
                e.preventDefault()
                arrows[e.key](stompClient);
            });
        })();
    </script>
{{/js}}
{{/layout}}

