{{#layout}}{{#title}}Home{{/title}}
{{#content}}
    <input id="room-title" type="text" class="text-box" placeholder="생성할 방 이름을 입력하세요.">

    <div class="btn-group">
        <button class="btn secondary-btn" onclick="moveLogin();">로그인</button>
        <button class="btn primary-btn" onclick="createRoomButton();">방 만들기</button>
    </div>
    <div id="room-list" class="room-list"></div>
{{/content}}
{{#css}}
    <link rel="stylesheet" href="/css/index.css">
{{/css}}
{{#js}}
    <script type="text/javascript" src="/js/index.js"></script>
    <script>
        const createRoomButton = () => {
            createRoom(document.getElementById('room-title').value);
        }
        const moveLogin = () => {
            location.href = '/oauth2/authorization/google';
        }
    </script>
{{/js}}
{{/layout}}

