<!DOCTYPE html>
<html>
<head>
    <title>{{{layout.title}}}</title>
    <link rel="stylesheet" href="/css/common.css">
    {{{layout.css}}}
</head>
<body>
<div class="container">
    <div class="logo">2048</div>
    {{{layout.content}}}
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
{{{layout.js}}}
</html>
