.ZERO {
  background-color: #e7e7e7;
  color: #776e65;
}

.ONE {
  background-color: #b3e0a6;
  color: #776e65;
}

.TWO {
  background-color: #debc91;
  color: #70665a;
}

.THREE {
  background-color: #93a9cc;
  color: #797775;
}

.FOUR {
  background-color: #fc9379;
  color: #575553;
}

.FIVE {
  background-color: #f65e3b;
  color: #f9f6f2;
}

.SIX {
  background-color: #edcf72;
  color: #f9f6f2;
}

.SEVEN {
  background-color: #edcc61;
  color: #f9f6f2;
}

.EIGHT {
  background-color: #edc850;
  color: #f9f6f2;
}

.NINE {
  background-color: #edc53f;
  color: #f9f6f2;
}

.TEN {
  background-color: #edc22e;
  color: #f9f6f2;
}

.ELEVEN {
  background-color: #3c3a32;
  color: #f9f6f2;
}

.TWELVE {
  background-color: #3c3a32;
  color: #f9f6f2;
}
